* {
  margin: 0;
  padding: 0;
}
.clearFix {
  *zoom: 1;
}
.clearFix:before,
.clearFix:after {
  display: block;
  clear: both;
  content: "";
  line-height: 0;
}
html,
body {
  height: 100%;
  font-family: HelveticaNeue-Light;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 30px;
}
#content {
  background-color: #006bff;
  width: 600px;
  height: 720px;
  border-radius: 15px;
  margin: 0 auto;
}
#content #header {
  float: right;
  position: relative;
  width: 250px;
  margin: 200px 175px 50px 175px;
}
#content #header h1 {
  font-size: 60px;
}
#content p {
  float: right;
  font-size: 35px;
  margin-right: 30px;
  font-weight: bold;
}
#content #start {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: solid black;
  margin-bottom: 100px;
  margin-left: 195px;
  font-weight: bold;
  font-size: 25px;
}
